<h1>New beer</h1>

<% form_for(@beer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :taste %><br />
    <%= f.text_field :taste %>
  </p>
  <p>
    <%= f.label :vibe %><br />
    <%= f.text_field :vibe %>
  </p>
  <p>
    <%= f.label :buzz %><br />
    <%= f.text_field :buzz %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', beers_path %>